@use"../utils/mixin.scss";

.explorer{
    text-align : center;   
    & h2{
        margin-top: 2rem;
        font-size: 2rem;
}
& p{
    font-size: 1rem;
}
& button{
    @include mixin.base-button;   
}
}

.loader{
    $animation-duration: 1s;
    position: fixed;
    display: grid;
    place-items: center;
    background-color: white;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 200ms $animation-duration forwards;
    &::after {
      content: "";
      height: 100px;
      width:100px;
      border: 5px solid transparent;
      border-top: 5px solid #9356dc;
      border-radius: 50%;
      animation: spin $animation-duration infinite linear;
    }
}

@keyframes disappear {
    to {
        transform: scale(0);
    }
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
    
}